.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header h1 {
  font-size: 4rem;
}

header .name {
  margin-bottom: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}

.header {
  display: flex;
  background-color: #1F1E1B;
  padding: 0 20px;
  margin-bottom: 10px;
  align-items: center;
}

.body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 40px;
}

.code-block {
  font-family: monospace;
  font-weight: 500;
  margin-bottom: 30px;
}

section {
  margin-bottom: 50px;
  width: 100%;
}

button {
  margin: 10px 20px;
  height: 30px;
}

input {
  margin: 0 10px;
  width: 80px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

thead {
  background-color: #272522;
}

td, th {
  border-bottom: 1px solid #4e4c47;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #272522;
}
